.pagecontent {
  .programs {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 150px;
    font-family: "Arvo", serif;
    @media(max-width:1000px) {
      gap: 100px;
    }
    @media(max-width:750px) {
      margin-top: 130px;
    }
    .program {
      // border: 3px solid pink;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color: #f0b4cfef;
        }
      }
      .program_content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color: #f0b4cfef;
        @media(max-width:1000px) {
          grid-template-columns: 1fr 1fr;
        }
        @media(max-width:750px) {
          grid-template-columns: 1fr;
          // border: 2px solid blue;
          gap: 10px;
          padding: 0 10px;
        }

        .program_date_time {
          display: flex;
          flex-direction: column;
          gap: 30px;
          // border: 2px solid purple;
          align-items: center;
          @media(max-width:1000px) {
            order: 2;
            flex-direction: row;
            align-items: flex-start;
            height: 30px;
            gap: 0;
          }
          @media(max-width:750px) {
            order: 1;
            height: 100%;
          }
          // width: 300px;
          h3 {
            margin: 0;
            font-weight: lighter;
            word-spacing: 5px;
            letter-spacing: 2px;
            font-size: 20px;
            width: 250px;
            display: flex;
            text-shadow: 1px 1px 2px #000000;
            @media(max-width:1000px) {
              // justify-content: center;
              font-size: 15px;
              width: 180px;
            }
            @media(max-width:750px) {
              // border: 2px solid yellow;
              font-size: 12px;
              width: 100%;
              justify-content: center;
            }
          }
        }
        .program_image {
          // margin-right: 30px;
          @media(max-width:1000px) {
            order: 1;
            display: flex;
            justify-content: center;
          }
          @media(max-width:750px) {
            // border: 2px solid green;
            justify-content: flex-start;
          }
          img {
            width: 450px;
            @media(max-width:1000px) {
              width: 300px;
              // height: 100%;
            }
            @media(max-width:750px) {
              width: 100%;
            }
          }
        }
        .program_address_caption {
          display: flex;
          flex-direction: column;
          gap: 30px;
          margin-left: 30px;
          @media(max-width:1000px) {
            margin-left: 100%;
            margin-top: -50%;
            order: 3;
            width: 100%;
          }
          @media(max-width:750px) {
            // border: 2px solid black;
            margin-top: 0;
            margin-left: 0;
            gap: 10px;
          }
          .program_address {
            display: grid;
            gap: 7px;
            h4 {
              margin: 0;
              font-weight: lighter;
              font-size: 18px;
              text-shadow: 1px 1px 2px #000000;
              @media(max-width:750px) {
                font-size: 20px;
              }
              @media(max-width:750px) {
                font-size: 16px;
              }
            }
          }
          .program_caption {
            display: flex;
            flex-direction: column;
            gap: 40px;
            @media(max-width:750px) {
              gap: 20px;
            }
            h2 {
              margin: 0;
              font-size: 20px;
              width: 90%;
              text-shadow: 1px 1px 2px #000000;
              @media(max-width:1000px) {
                // font-size: 18px;
                width: 100%;
                line-height: 30px;
                word-spacing: 3px;
                letter-spacing: 1px;
              }
              @media(max-width:750px) {
                font-size: 20px;
              }
            }
            .program_signup {
              padding: 7px 20px;
              font-size: 20px;
              border-radius: 5px;
              cursor: pointer;
              width: 30%;
              color: #fff;
              text-decoration: none;
              background: #ec8923;
              border: none;
              @media(max-width:1000px) {
                width: 60%;
                word-spacing: 5px;
              }
              @media(max-width:750px) {
                font-size: 18px;
                width: 40%;
              }
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}