.container {
  margin-top: 150px;
  // width: 100%;
  // z-index: 1;
  max-width: 1500px;
  // border: 2px solid rgb(30, 255, 0);
  margin-bottom: 150px;
  @media(max-width:500px) {
    margin-bottom: 50px;
  }
}