.HomeContent {
  // border: 2px solid blue;
  position: fixed;
  h4 {
    color: white;
  //   width: 100vw;
    font-size: 50px;
    font-family: "Arvo", serif;
    color: #ecccdaef;
    // border: 2px solid yellow;
    margin: 0;
  }
}
