.Footer {
  // border: 4px solid blue;
  margin-bottom: 10px;
  display: flex;
  margin: 0 auto;
  max-width: 1500px;
  margin-top: 1vh;
  z-index: -2;
  .footer_txt {
    display: flex;
    justify-content: space-around;
    width: 25%;
    @media(max-width:1000px) {
      width: 50%;
    }
    @media(max-width:700px) {
      width: 70%;
    }
    // border: 2px solid green;
    h4 {
      color: #F0B4CFEF;
      margin: 0;
      text-shadow: 1px 1px 2px #000000;
      @media(max-width:700px) {
        font-size: 14px;
      }
    }
  }
}
