.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
  background-attachment: scroll;
  position: fixed;
  width: 100%;
  height: 100%;
  // border: 3px solid greenyellow;
  padding-top: 50px;
  margin: 0 auto;
  max-width: 1500px;
}

.bgContainer {
  background-color: #e63314;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: overlap;
  @media (min-width: 1700px) {
    height: 1700px;
    // Tablet width okay for violet
  }

}
.bgCircle {
  height: 500px;
  width: 500px;
  background: linear-gradient(#e63314, #c3160e);
  border-radius: 50%;
  display: inline-block;
  @media (max-width: 1400px) {
    height: 400px;
    width: 400px;
  }
  @media (max-width: 700px) {
    height: 300px;
    width: 300px;
    margin-top: 0;
  }
}

.squares {
  grid-area: overlap;
  // border: 2px solid grey;
  display: flex;
  gap: 170px;
  margin:110px auto 0;
  max-height: 1500px;
  width: 100%;
  @media (min-width: 1700px) {
    width: 100%;
  }
  @media (max-width: 1300px) {
    width: 100%;
    gap: 50px;
  }

  .squaresDiv1,
  .squaresDiv2 {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 10px;
    position: relative;
  // border: 12px solid violet;
    .squaresDiv001 {
      position: absolute;
      top: 30%;
      left: 3%;
    }
    .squaresDiv002 {
      position: absolute;
      top: 60%;
      left: 25%;
    }
    .squaresDiv003 {
      position: absolute;
      top: 70%;
      left: 25%;
    }
    .squaresDiv004 {
      position: absolute;
      top: 57%;
      left: 32%;
    }
    .squaresDiv005 {
      position: absolute;
      top: 3%;
      left: 26%;
    }
    .squaresDiv006 {
      position: absolute;
      top: 45%;
      left: 60%;
    }
    .squaresDiv007 {
      position: absolute;
      top: 5%;
      left: 70%;
    }
    .squaresDiv008 {
      position: absolute;
      top: 25%;
      left: 85%;
    }
    .squaresDiv009 {
      position: absolute;
      top: 50%;
      left: 90%;
    }
    .squaresDiv010 {
      position: absolute;
      top: 0%;
      left: 97%;
    }
    .squaresDiv021 {
      position: absolute;
      top: 1%;
      left: 2%;
    }
    .squaresDiv022 {
      position: absolute;
      top: 70%;
      left: 4%;
    }
    .squaresDiv023 {
      position: absolute;
      top: 68%;
      left: 9%;
    }
    .squaresDiv024 {
      position: absolute;
      top: 52%;
      left: 30%;
    }
    .squaresDiv025 {
      position: absolute;
      top: 42%;
      left: 50%;
    }
    .squaresDiv026 {
      position: absolute;
      top: 62%;
      left: 60%;
    }
    .squaresDiv027 {
      position: absolute;
      top: 12%;
      left: 64%;
    }

    div {
      width: 20px;
      height: 20px;
    }
  }

  .squaresDiv1 {
    // border: 2px solid yellow;
    width: 50%;
    // justify-items: end;
    @media (max-width: 1300px) {
      // width: 30%;
    }
  }

  .squaresDiv2 {
    // border: 2px solid grey;
    width: 50%;
    @media (max-width: 1300px) {
      // width: 30%;
    }
  }
}
