// .Links {
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     border: 2px solid yellow;
// }

// // .container {
// //     max-width: 1700px;
// //   }

//   .overlays {
//     position: relative;
//   }

//   .Content {
//     position: absolute;
//     top: 0%;
//     align-items: center;
//     width: 100%;
//     text-align: center;
//     font-family: "Arvo", serif;
//     color: #f0b4cfef;
//     @media (max-width: 500px) {
//       width: 100vw;
//     }

//   }

.App {
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 1fr;
  // grid-template-areas: "overlap";
  // background-attachment: scroll;
  // // position: fixed;
  // width: 100%;
  // height: 100%;
  position: relative;
  // width: 100%;
}

.FirstOverlay {
  width: 100%;
}

.SecondOverlay {
  // border: 2px solid grey;
  // top: 0;
  position: absolute;
  width: 100%;
  // grid-area: overlap;
}
